/* line 1, ../sass/icons.scss */
.fb {
  background: url("../img/iconsheet.png") no-repeat 0 0;
  width: 44px;
  height: 43px;
}

/* line 6, ../sass/icons.scss */
.fb:hover {
  background: url("../img/iconsheet.png") no-repeat -53px 0;
}

/* line 9, ../sass/icons.scss */
.tw {
  background: url("../img/iconsheet.png") no-repeat 0 -50px;
  width: 44px;
  height: 44px;
}

/* line 14, ../sass/icons.scss */
.tw:hover {
  background: url("../img/iconsheet.png") no-repeat -53px -50px;
}

/* line 17, ../sass/icons.scss */
.yt {
  background: url("../img/iconsheet.png") no-repeat 0 -102px;
  width: 44px;
  height: 44px;
}

/* line 22, ../sass/icons.scss */
.yt:hover {
  background: url("../img/iconsheet.png") no-repeat -53px -102px;
}

/* line 25, ../sass/icons.scss */
.in {
  background: url("../img/iconsheet.png") no-repeat 0 -156px;
  width: 44px;
  height: 44px;
}

/* line 30, ../sass/icons.scss */
.in:hover {
  background: url("../img/iconsheet.png") no-repeat -53px -156px;
}

/* line 33, ../sass/icons.scss */
.pin {
  background: url("../img/iconsheet.png") no-repeat 0 -209px;
  width: 44px;
  height: 43px;
}

/* line 38, ../sass/icons.scss */
.pin:hover {
  background: url("../img/iconsheet.png") no-repeat -53px -209px;
}

/* line 41, ../sass/icons.scss */
.activity-icon {
  background: url("../img/iconsheet.png") no-repeat -111px -24px;
  width: 17px;
  height: 18px;
}

/* line 46, ../sass/icons.scss */
.play {
  background: url("../img/iconsheet.png") no-repeat -112px -63px;
  width: 19px;
  height: 21px;
}

/* line 51, ../sass/icons.scss */
.pause {
  background: url("../img/iconsheet.png") no-repeat -114px -103px;
  width: 16px;
  height: 22px;
}

/* line 56, ../sass/icons.scss */
.corner_right {
  background: url("../img/frame_right_corner.png") no-repeat;
  width: 40px;
  height: 40px;
}

/* line 61, ../sass/icons.scss */
.corner_left {
  background: url("../img/frame_left_corner.png") no-repeat;
  width: 40px;
  height: 40px;
}
