/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/icons.scss */
.fb {
  background: url("../img/iconsheet.png") no-repeat 0 0;
  width: 44px;
  height: 43px;
}

/* line 6, ../sass/icons.scss */
.fb:hover {
  background: url("../img/iconsheet.png") no-repeat -53px 0;
}

/* line 9, ../sass/icons.scss */
.tw {
  background: url("../img/iconsheet.png") no-repeat 0 -50px;
  width: 44px;
  height: 44px;
}

/* line 14, ../sass/icons.scss */
.tw:hover {
  background: url("../img/iconsheet.png") no-repeat -53px -50px;
}

/* line 17, ../sass/icons.scss */
.yt {
  background: url("../img/iconsheet.png") no-repeat 0 -102px;
  width: 44px;
  height: 44px;
}

/* line 22, ../sass/icons.scss */
.yt:hover {
  background: url("../img/iconsheet.png") no-repeat -53px -102px;
}

/* line 25, ../sass/icons.scss */
.in {
  background: url("../img/iconsheet.png") no-repeat 0 -156px;
  width: 44px;
  height: 44px;
}

/* line 30, ../sass/icons.scss */
.in:hover {
  background: url("../img/iconsheet.png") no-repeat -53px -156px;
}

/* line 33, ../sass/icons.scss */
.pin {
  background: url("../img/iconsheet.png") no-repeat 0 -209px;
  width: 44px;
  height: 43px;
}

/* line 38, ../sass/icons.scss */
.pin:hover {
  background: url("../img/iconsheet.png") no-repeat -53px -209px;
}

/* line 41, ../sass/icons.scss */
.activity-icon {
  background: url("../img/iconsheet.png") no-repeat -111px -24px;
  width: 17px;
  height: 18px;
}

/* line 46, ../sass/icons.scss */
.play {
  background: url("../img/iconsheet.png") no-repeat -112px -63px;
  width: 19px;
  height: 21px;
}

/* line 51, ../sass/icons.scss */
.pause {
  background: url("../img/iconsheet.png") no-repeat -114px -103px;
  width: 16px;
  height: 22px;
}

/* line 56, ../sass/icons.scss */
.corner_right {
  background: url("../img/iconsheet.png") no-repeat -100px -138px;
  width: 38px;
  height: 37px;
}

/* line 61, ../sass/icons.scss */
.corner_left {
  background: url("../img/iconsheet.png") no-repeat -102px -190px;
  width: 38px;
  height: 38px;
}

/* line 23, ../sass/screen.sass */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 26, ../sass/screen.sass */
.content img {
  max-height: 100%;
  width: auto\9;
  max-width: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 35, ../sass/screen.sass */
body {
  background: url("/img/bg.jpg") repeat bottom center;
  background-size: auto 150%;
  background-attachment: fixed;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 40, ../sass/screen.sass */
  body {
    background-size: 180% auto;
    background-position-x: right;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 44, ../sass/screen.sass */
  body {
    background-size: 110% auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: portrait) {
  /* line 47, ../sass/screen.sass */
  body {
    background-size: auto 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: portrait) {
  /* line 50, ../sass/screen.sass */
  body {
    background-size: 200% auto;
    background-position-x: right;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape) {
  /* line 54, ../sass/screen.sass */
  body {
    background-size: 110% auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: portrait) {
  /* line 57, ../sass/screen.sass */
  body {
    background-size: 200% auto;
    background-position-x: right;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: landscape) {
  /* line 61, ../sass/screen.sass */
  body {
    background-size: 110% auto;
  }
}
@media screen and (min-width: 1500px) {
  /* line 64, ../sass/screen.sass */
  body {
    background: red;
    background-size: auto 125%;
  }
}
/* line 68, ../sass/screen.sass */
.masthead {
  background-color: #242424;
  position: fixed;
  width: 100%;
  height: 12px;
  z-index: 100;
}

/* line 75, ../sass/screen.sass */
.footer {
  height: 90px;
  background-color: #1e1e1e;
  position: fixed;
  bottom: 0;
  margin-top: -90px;
  width: 100%;
  display: block;
  z-index: 100;
}

/* line 85, ../sass/screen.sass */
.corner {
  top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
}
/* line 90, ../sass/screen.sass */
.corner .line {
  background-color: #e6fbf8;
  width: 2px;
  height: 2px;
  position: absolute;
}
/* line 95, ../sass/screen.sass */
.corner .line.rline {
  height: 1000px;
  margin-left: 27px;
}
/* line 98, ../sass/screen.sass */
.corner .line.lline {
  height: 1000px;
  margin-left: 9px;
  margin-top: -2px;
}
/* line 102, ../sass/screen.sass */
.corner .line.rtop {
  margin-top: 11px;
  left: 36px;
  width: 1000px;
}
/* line 106, ../sass/screen.sass */
.corner .line.ltop {
  right: 36px;
  margin-top: 11px;
  width: 1000px;
}
/* line 110, ../sass/screen.sass */
.corner.rcorner {
  right: 0;
}
/* line 112, ../sass/screen.sass */
.corner.lcorner {
  left: 0;
}

/* line 115, ../sass/screen.sass */
.content {
  position: absolute;
  top: 0;
  margin-bottom: 80px;
  right: 5%;
  max-width: 70%;
  max-height: 100%;
}
/* line 122, ../sass/screen.sass */
.content .jenna {
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
/* line 126, ../sass/screen.sass */
.content .jenna img {
  position: relative;
  height: auto;
  width: auto;
}

/* line 131, ../sass/screen.sass */
.logo {
  width: 430px;
  height: auto;
  position: absolute;
  left: 120px;
  top: 10%;
  max-width: 40%;
  z-index: 90;
}
/* line 139, ../sass/screen.sass */
.logo img {
  height: auto;
  width: auto;
  max-width: 100%;
}

/* line 144, ../sass/screen.sass */
.social {
  width: 50px;
  margin-top: 10%;
  right: 0%;
  top: 0%;
  position: absolute;
}
/* line 150, ../sass/screen.sass */
.social a {
  display: inline-block;
  margin-bottom: 8px;
}

/* line 154, ../sass/screen.sass */
.note {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  text-shadow: inset 0 0 50px black;
}
/* line 159, ../sass/screen.sass */
.note img {
  width: 460px;
}

/* line 162, ../sass/screen.sass */
.ribbon {
  width: 320px;
  position: absolute;
  left: -320px;
  bottom: 0;
  margin-bottom: 300px;
  text-align: right;
  overflow: hidden;
}
/* line 170, ../sass/screen.sass */
.ribbon .now {
  padding-right: 20px;
  height: 30px;
  line-height: 30px;
  background: #2c3232;
  color: #b7e0d8;
  font-family: NovecentowideLightBold, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 3px;
  font-size: 13px;
}
/* line 179, ../sass/screen.sass */
.ribbon .song {
  height: 70px;
  line-height: 70px;
  background-color: #b7e0d8;
  color: #2c3232;
  font-family: "League Gothic", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  padding-right: 20px;
  letter-spacing: 2px;
  text-overflow: ellipsis;
}

/* line 193, ../sass/screen.sass */
.container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/* line 198, ../sass/screen.sass */
.player {
  position: absolute;
  background: black;
  height: 43px;
  width: 320px;
  overflow: hidden;
  margin-left: 120px;
  margin-top: 25px;
  z-index: 120;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 213, ../sass/screen.sass */
.player .control {
  width: 50px;
  height: 40px;
  text-align: center;
  background: #060606;
  float: left;
  display: inline-block;
  cursor: pointer;
}
/* line 221, ../sass/screen.sass */
.player .control .play, .player .control .pause {
  margin: auto;
  top: 10px;
  position: relative;
}
/* line 225, ../sass/screen.sass */
.player .control:hover {
  background-color: #324845;
}
/* line 227, ../sass/screen.sass */
.player .title {
  background: #2b3231;
  width: 240px;
  height: 40px;
  float: left;
  display: inline-block;
  text-align: center;
}
/* line 234, ../sass/screen.sass */
.player .title span {
  color: #b6c2c0;
  font-family: NovecentowideLightBold, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  line-height: 40px;
}
/* line 240, ../sass/screen.sass */
.player .activity {
  width: 30px;
  height: 40px;
  float: left;
  display: inline-block;
  background: #2b3231;
}
/* line 246, ../sass/screen.sass */
.player .activity .activity-icon {
  margin-top: 10px;
}
/* line 248, ../sass/screen.sass */
.player .track {
  display: inline-block;
  float: left;
}
/* line 251, ../sass/screen.sass */
.player .progress {
  width: 1px;
  height: 3px;
  background-color: #495855;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 258, ../sass/screen.sass */
.nav {
  position: relative;
  text-align: right;
  line-height: 90px;
  margin-right: 70px;
  z-index: 110;
}
/* line 264, ../sass/screen.sass */
.nav a {
  font-family: NovecentowideLightBold, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  color: #b6c2c0;
  text-decoration: none;
  margin-left: 20px;
}
/* line 271, ../sass/screen.sass */
.nav a:hover {
  color: #6e7870;
}

/* line 274, ../sass/screen.sass */
.playlist {
  display: none;
}
