.fb {
    background: url('../img/iconsheet.png') no-repeat 0 0;
    width: 44px;
    height: 43px;
}
.fb:hover {
    background: url('../img/iconsheet.png') no-repeat -53px 0;
}
.tw {
    background: url('../img/iconsheet.png') no-repeat 0 -50px;
    width: 44px;
    height: 44px;
}
.tw:hover {
    background: url('../img/iconsheet.png') no-repeat -53px -50px;
}
.yt {
    background: url('../img/iconsheet.png') no-repeat 0 -102px;
    width: 44px;
    height: 44px;
}
.yt:hover {
    background: url('../img/iconsheet.png') no-repeat -53px -102px;
}
.in {
    background: url('../img/iconsheet.png') no-repeat 0 -156px;
    width: 44px;
    height: 44px;
}
.in:hover {
    background: url('../img/iconsheet.png') no-repeat -53px -156px;
}
.pin {
    background: url('../img/iconsheet.png') no-repeat 0 -209px;
    width: 44px;
    height: 43px;
}
.pin:hover {
    background: url('../img/iconsheet.png') no-repeat -53px -209px;
}
.activity-icon {
    background: url('../img/iconsheet.png') no-repeat -111px -24px;
    width: 17px;
    height: 18px;
}
.play {
    background: url('../img/iconsheet.png') no-repeat -112px -63px;
    width: 19px;
    height: 21px;
}
.pause {
    background: url('../img/iconsheet.png') no-repeat -114px -103px;
    width: 16px;
    height: 22px;
}
.corner_right {
    background: url('../img/iconsheet.png') no-repeat -100px -138px;
    width: 38px;
    height: 37px;
}
.corner_left {
    background: url('../img/iconsheet.png') no-repeat -102px -190px;
    width: 38px;
    height: 38px;
}