/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"
@import "1140px/1140"
@import "sass-mediaqueries/_media-queries"
@import "variables"
@import "icons"
@import "webfonts"

// Reasonable Breakpoint Values
$desktop-wide:          71.25em  // 1140px
$desktop-small:         64.00em  // 1024px
$tablet-portrait:       48.00em  // 768px
$phone-wide-landscape:  35.50em  // 568px
$phone-landscape:       30.00em  // 480px
$phone-portrait:        20.00em  // 320px

$column-killer-breakpoint: $phone-landscape  // 640px

// Scale the background to the device
body
    background: url('/img/bg.jpg') repeat bottom center
    background-size: auto 125%
    background-attachment: fixed
@include ipad-portrait
    body
        background-size: 180% auto
        background-position-x: right
@include ipad-landscape
    body
        background-size: 110% auto
@include iphone4-portrait
    body
        background-size: auto 100%
@include iphone4-portrait
    body
        background-size: 200% auto
        background-position-x: right
@include iphone4-landscape
    body
        background-size: 110% auto
@include iphone5-portrait
    body
        background-size: 200% auto
        background-position-x: right
@include iphone5-landscape
    body
        background-size: 110% auto
@include min-screen(1500px) // not sure if this is working
    body
        background: red
        background-size: auto 125%

.masthead
    background-color: $greyh
    position: fixed
    width: 100%
    height: 12px
    z-index: 100

.footer
    height: 90px
    background-color: $greyf
    position: fixed
    bottom: 0
    margin-top: -90px
    width: 100%
    display: block
    z-index: 100

.content
    position: absolute
    bottom: 0
    margin-bottom: 80px
    right: 10%
    max-width: 70%
    max-height: 90%
    .jenna
        height: auto
        width: auto
        max-height: 100%
        max-width: 100%

.logo
    width: 430px
    height: auto
    position: absolute
    left: 10%
    top: 10%
    img
        height: auto
        width: auto
        max-width: 100%

.social
    width: 50px
    margin-top: 10%
    right: 5%
    top: 5%
    position: absolute
    a
        display: inline-block
        margin-bottom: 8px

.note
    position: absolute 
    bottom: 0
    margin-bottom: 50px
    text-shadow: inset 0 0 50px #000
    img
        width: 400px

.ribbon
    width: 320px
    position: absolute
    left: 0
    bottom: 0
    margin-bottom: 300px
    text-align: right
    .now
        padding-right: 20px
        height: 30px
        line-height: 30px
        background: $greyr
        color: $blue
        font-family: $novecento
        letter-spacing: 3px
        font-size: 13px
    .song
        height: 70px
        line-height: 70px
        background-color: $blue
        color: $greyr
        font-family: $gothic
        text-transform: uppercase
        font-size: 50px
        padding-right: 20px
        letter-spacing: 3px



.container
    @include container
    text-align: center
    // background: blue
